<section class="container">
  <h2>{{ pollTitle }}</h2>

  {{#each polls}}

    {{#if pollStatus}}

      <form action="/polls/{{ makeUrlSafe ../pollTitle }}/{{this.id}}/submit" method="post" class="play-form">

        <header>
          <h3> {{pollQuestion}}</h3>
        </header>

        {{#switch pollAnswer.type}}

          {{#case 'multiple'}}
            {{#each ../pollAnswer.values}}
              <label for="{{@key}}">
                <input type="submit" value="{{this}}" name="{{@key}}">
              </label>
            {{/each}}
          {{/case}}

          {{#case 'open-text'}}
            <label for="open-answer">
              <input type="text" name="open-answer"/>
            </label>
            <input type="submit" value="Submit Answer">
          {{/case}}

          {{#case 'open-number'}}
            <label for="open-answer-number">
              <input type="number" name="open-answer-number"/>
            </label>
            <input type="submit" value="Submit Answer">
          {{/case}}

        {{/switch}}
      </form>
    {{/if}}

  {{else}}
    <section class="empty-polls">
      <p>You've answered all questions! Wait for more questions or look at the results by pressing the button below.</p>
      <a href="/polls/{{makeUrlSafe pollTitle}}/results" class="result-btn"> To the results!</a>
    </section>

  {{/each}}

</section>
